<head>
  <title>Questions</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h1>Meteor Session Questions</h1>
                {{> questions}}
            </div>
            <div class="col-xs-6">
                <h1>Subject Suggestions</h1>
                {{> subjects}}
            </div>
        </div>
    </div>
</body>

<template name="questions">
    {{#each questions}}
        {{> question}}
    {{/each}}

    <form class="new-question">
        <label for="text">Ask a new question:</label>
        <input type="text" name="text" id="text">
    </form>
</template>

<template name="question">

      <!--<h1>{{random}}</h1>-->
      <li>{{text}}<button type="button" name="button"  class="btn btn-sm btn-danger delete">X</button></li>
</template>

<template name="subjects">
    {{#each subjects}}
        <ul>
            {{> subject}}
        </ul>
    {{/each}}

    <form class="new-subject">
        <div class="form-group">
            <label for="subject">Suggest a new subject:</label>
            <input type="text" name="subject" id="subject">
        </div>
        <div class="form-group">
            <label for="volunteer">Volunteer someone:</label>
            <input type="text" name="volunteer" id="volunteer">
        </div>
        <button type="submit" class="btn btn-sm btn-success">Submit</button>
    </form>
</template>

<template name="subject">
    <li>{{subject}}{{#if volunteer}} (Volunteered by {{volunteer}}){{/if}}<button type="button" name="button" class="btn btn-sm btn-danger delete">X</button></li>
</template>
