<head>
  <title>Questions</title>
</head>

<body>
  <h1>Meteor Session Questions</h1>
  {{> questions}}
</body>

<template name="questions">
    {{#each questions}}
        {{> question}}
    {{/each}}

    <form class="new-question">
        <label for="text">Ask a new question:</label>
        <input type="text" name="text" id="text">
    </form>
</template>

<template name="question">

      <!--<h1>{{random}}</h1>-->
      <p>{{text}}</p>
      <button type="button" name="button" class="delete">X</button>
</template>
